_tmp.dneonline.com/dneonline.com.request-response.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Add" type="tem:AddType" xmlns:tem="http://tempuri.org/"/>
  <xsd:complexType name="AddType">
    <xsd:sequence>
      <xsd:element type="xsd:integer" name="intA" minOccurs="1"/>
      <xsd:element type="xsd:integer" name="intB" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Subtract" type="tem:SubtractType" xmlns:tem="http://tempuri.org/"/>
  <xsd:complexType name="SubtractType">
    <xsd:sequence>
      <xsd:element type="xsd:integer" name="intA" minOccurs="1"/>
      <xsd:element type="xsd:integer" name="intB" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Multiply" type="tem:MultiplyType" xmlns:tem="http://tempuri.org/"/>
  <xsd:complexType name="MultiplyType">
    <xsd:sequence>
      <xsd:element type="xsd:integer" name="intA" minOccurs="1"/>
      <xsd:element type="xsd:integer" name="intB" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Divide" type="tem:DivideType" xmlns:tem="http://tempuri.org/"/>
  <xsd:complexType name="DivideType">
    <xsd:sequence>
      <xsd:element type="xsd:integer" name="intA" minOccurs="1"/>
      <xsd:element type="xsd:integer" name="intB" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AddResponse" type="tem:AddResponseType" xmlns:tem="http://tempuri.org/"/>
  <xsd:complexType name="AddResponseType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="AddResult"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SubtractResponse" type="tem:SubtractResponseType" xmlns:tem="http://tempuri.org/"/>
  <xsd:complexType name="SubtractResponseType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="SubtractResult"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MultiplyResponse" type="tem:MultiplyResponseType" xmlns:tem="http://tempuri.org/"/>
  <xsd:complexType name="MultiplyResponseType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="MultiplyResult"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DivideResponse" type="tem:DivideResponseType" xmlns:tem="http://tempuri.org/"/>
  <xsd:complexType name="DivideResponseType">
    <xsd:sequence>
      <xsd:element type="xsd:string" name="DivideResult"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>