_tmp.dneonline.com/dneonline.com.wsdlv2_defaultNS_xsd_NSPrefix.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<!-- Content from https://jenkov.com/tutorials/wsdl/overview.html -->
<!-- WSDL v2 with <description> tag -->
<!-- 'wsdl' Namespace is the default Namespace and there is no prefix => xmlns   ="http://www.w3.org/ns/wsdl"         -->
<!-- 'xsd'  Namespace has a prefix                                    => xmlns:xs="http://www.w3.org/2001/XMLSchema"> -->
<description
    xmlns=           "http://www.w3.org/ns/wsdl"
    targetNamespace= "http://tempuri.org/"
    xmlns:tns=       "http://tempuri.org/"
    xmlns:stns =     "http://tempuri.org/"
    xmlns:wsoap=     "http://www.w3.org/ns/wsdl/soap"
    xmlns:soap=      "http://www.w3.org/2003/05/soap-envelope"
    xmlns:wsdlx=     "http://www.w3.org/ns/wsdl-extensions"
    xmlns:xs=        "http://www.w3.org/2001/XMLSchema">

  <documentation>
    This is the web service documentation.
  </documentation>

  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xs:element name="Add" type="typeAdd" xmlns="http://tempuri.org/"/>
      <xs:complexType name="typeAdd">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="intA" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="intB" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
 
      <xs:element name="AddResponse" type="typeAddResponse" xmlns="http://tempuri.org/"/>
      <xs:complexType name="typeAddResponse">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="AddResult" type="xs:int" />
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </types>

  <interface  name = "AddInterface" >

    <fault name = "invalidAddFault"  element = "stns:invalidAddError"/>

    <operation name="calculatorOperation"
            pattern="http://www.w3.org/ns/wsdl/in-out"
            style="http://www.w3.org/ns/wsdl/style/iri"
            wsdlx:safe = "true">

      <input    messageLabel="In"  element="stns:Add" />
      <output   messageLabel="Out" element="stns:AddResponse" />
      <outfault messageLabel="Out" ref    ="tns:invalidAddFault" />
    
    </operation>

  </interface>

  <binding name="calculatorSOAPBinding"
          interface="tns:AddInterface"
          type="http://www.w3.org/ns/wsdl/soap"
          wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP/">

    <fault ref="tns:invalidAddFault" wsoap:code="soap:Sender"/>

    <operation ref="tns:calculatorOperation"
      wsoap:mep="http://www.w3.org/2003/05/soap/mep/soap-response"/>

  </binding>

  <service
       name     ="calculatorService"
       interface="tns:AddInterface">

     <endpoint name ="calculatorEndpoint"
            binding ="tns:calculatorSOAPBinding"
            address ="http://www.dneonline.com/calculator.asmx"/>

  </service>

</description>