_tmp.dneonline.com/dneonline.com.request-response-cross-referenced.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:ns_param_calc_a="http://tempuri.org/paramCalcIntA/"
                  xmlns:ns_param_calc_b="http://tempuri.org/paramCalcIntB/"
                  >
  <wsdl:types>
    
    <!--
    <xsd:schema elementFormDefault="unqualified" attributeFormDefault="unqualified" targetNamespace="http://tempuri.org/paramCalc/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="paramCalc" type="ns_param_calc:CalcBlock" xmlns:ns_param_calc="http://tempuri.org/paramCalc/"/>
      <xsd:complexType name="CalcBlock">
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="intA" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="intB" type="xsd:int" />
          </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    -->
    
    <!-- Schema #1-->
    <xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://tempuri.org/paramCalcIntA/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="intA" type="xsd:int" xmlns:ns_param_calc="http://tempuri.org/paramCalcIntA/"/>
    </xsd:schema>

    <!-- Schema #2 -->
    <xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://tempuri.org/paramCalcIntB/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="intB" type="xsd:int" xmlns:ns_param_calc="http://tempuri.org/paramCalcIntB/"/>
    </xsd:schema>

    <!-- Schema #3 -->
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <!-- JEROME OK 
      <xsd:import namespace="http://tempuri.org/paramCalcIntA/" schemaLocation="http://tempuri.org/paramCalcIntA/"/>
      <xsd:import namespace="http://tempuri.org/paramCalcIntB/" schemaLocation="http://tempuri.org/paramCalcIntB/"/> -->
      <!-- JEROME Ko-->
      <xsd:import namespace="http://tempuri.org/paramCalcIntA/"/>
      <xsd:import namespace="http://tempuri.org/paramCalcIntB/"/>  

      <xsd:element name="Add">
        <xsd:complexType>
          <xsd:sequence>
            <!--
            <xsd:element ref="ns_param_calc:paramCalc"/>
            -->
            <xsd:element ref="ns_param_calc_a:intA"/>
            <xsd:element ref="ns_param_calc_b:intB"/>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>

    <!-- Schema #4 -->
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xsd:element name="AddResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="AddResult" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Subtract">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="intA" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="intB" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SubtractResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SubtractResult" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
</wsdl:definitions>